.parent{
    display: flex;
    height: 100%;
    width: 100%;
}
.child{
    height: 110vh;
    flex: 30%;
    float: left;
    background-color: lightgoldenrodyellow;
}
.child1{
    height: 100%;
    flex: 70%;
    float:right;
    background-color: white;
}
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .footer{
    bottom: 0px;
    width: 25%;
    z-index: 999 !important;
    float: left;
 }
 .pie-chart{
   float: left;
   width: 40%;
 }
 .bar-chart{
   float: right;
   width: 53%;
   margin-right: 5px;
  
 }
 .bar-chart1{
  
   margin-top: 30px;
   border-top: 10px;
   margin-left: 5px;
   width: 40%;
 }
 .task{
   border-top: 2px;
   margin-right: 10px;
   float: right;
   width: 40%;
   margin-top: -400px;
 }